body {
	background-color: #83a9c7;
	font-family: Arial, sans-serif;
}

header {
	background-color: #b7bdc9;
	color: black;
	text-align: center;
	padding: 20px;
}

h1 {
	margin: 0;
}



section {
	margin: 20px;
	padding: 20px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
	margin-top: 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

li {
	margin-bottom: 10px;
}

img {
	display: block;
	margin: 20px auto;
	max-width: 50%;
}
