body {
    background-color: lightgrey;
    color: rgb(22, 101, 22);
}

h1 {
    background-color: rgb(2, 52, 2);
    color: white;
}

h2 {
    background-color: rgb(2, 52, 2);
    color: white;
}

p {
    background-color: lightgrey;
    color: rgb(94, 21, 72);
}

div {
    background-color: white;
    color: rgb(60, 147, 60);
}


/* Control the left side */
.left {
    left: 0;
    background-color: #111;
    flex: 1;
}

.left img {
    width: 100%;
    height: 100%;
}

/* Control the right side */
.right {
    right: 0;
    background-color: lightgray;
    flex: 1;
}

.column {
    display: flex;
}

.bottom-column{
    background-color: blue;
    height: 400px;
    background-image: url(https://cdn.britannica.com/50/80550-050-5D392AC7/Scoops-kinds-ice-cream.jpg);
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}

img {
    width: 100%;
    height: auto;
}
h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  p {
    font-size: 20px;
  }